# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Kevin Godin-Dubois
repository: kgd-al/kgd-al.github.io
email: k.j.m.godin-dubois@vu.nl
description: >- # this means to ignore newlines until "baseurl:"
  Artificial Life Research (Evolution, NeuroEvolution, Cognition)
#baseurl: "" # the subpath of your site, e.g. /blog
#url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  kgd-al

author:
  name: Kevin Godin-Dubois
  email: k.j.m.godin-dubois@vu.nl

github: [metadata]

# Build settings
remote_theme: jekyll/minima
plugins:
  - jekyll-remote-theme
  - jekyll-github-metadata
  - jekyll-scholar
  - jekyll-seo-tag

show_excerpts: true

minima:
  skin: auto
  social_links:
    - platform: github
      user_url: "https://github.com/kgd-al"
      title: Source code repository

    - platform: orcid
      user_url: "https://orcid.org/0009-0002-6033-3555"
      title: ORCID page

    - platform: google_scholar
      user_url: "https://scholar.google.com/citations?user=8k1MH20AAAAJ"
      title: List of publications on google scholar

    - platform: vimeo
      user_url: "https://vimeo.com/godinduboisalife"
      title: Showcased videos of experimental results

# Minima use deprecated sass constructs. Try to silence them
sass:
  quiet_deps: true

kramdown:
  hard_wrap: false
  parse_span_html: false

scholar:
  source: _CV
  style: _data/nature-custom.csl
  type: numeric
  bibliography: library.bib
#  bibliography_template: scholar_bib
  missing_reference: <span class="error">(missing reference)</span>

feed:
  disable_in_development: true

defaults:
  -
    scope:
      path: 'research'
      type: 'pages'
    values:
      layout: 'research_item'
  -
    scope:
      path: 'projects'
      type: 'pages'
    values:
      layout: 'research_item'

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#

exclude:
  - src/research/ # Symlinks. Do not re-generate
  - src/projects/ #
  - .idea
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
