{%- assign navigation_items = '' | split: '' -%}
{%- include navigation_find_path.html menu=site.data.__generated.navigation -%}
<div class="nav-bar">
  {%- assign nitems = navigation_items.size | minus: 1 -%}
  {%- for i in (0..nitems) reversed -%}
    {%- assign item = navigation_items[i] -%}
    <div class="nav-dropdown">
    {%- if nitems > i -%}
      <i class="fa {{navigation_separator}}"></i>
    {%- endif -%}

      <button class="nav-button">
        <a href={{site.baseurl}}{{item.link}}>
          {{item.name}}
        </a>
      </button>
      {% if i > 0 %}
      <div class="nav-dropdown-content">
      {% else %}
      <div class="nav-dropdown-content-last">
      {% endif %}
        {%- for subitem in item.submenu -%}
          <a href={{site.baseurl}}{{subitem.link}}>
            {{subitem.name}}
          </a>
        {%- endfor -%}
      </div>
    </div>
    {%- endfor -%}
</div>


