<style>

/* == Drop down logic == */

/* The main container */
.nav-bar {
  background-color: var(--minima-code-background-color);
  line-height: 1;
  overflow: hidden;
}

/* Container for a dropdown menu with button */
.nav-dropdown {
/*  display: none;
  position: absolute;
  z-index: 1;*/
  overflow: hidden;
  float: left;
}

.nav-dropdown .nav-button {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 8px 4px 8px 4px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  color: var(--minima-text-color);
}

.nav-dropdown:hover .nav-button {
  background-color: var(--minima-brand-color);
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--minima-code-background-color);
/*   min-width: 160px; */
  box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-dropdown .fa-caret-right {
  padding: 4px;
}

.nav-dropdown .fa-circle {
  padding: 0 4px 0 4px;
  font-size: 50%;
  transform: translate(0%, -50%);
}


.nav-dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-dropdown-content a:hover {
  @media (prefers-color-scheme: dark) {
    background-color: var(--minima-brand-color-dark);
  }
  @media (prefers-color-scheme: light) {
    background-color: var(--minima-brand-color-light);
  }
}

/* Show the dropdown menu on hover */
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

</style>
{%- assign navigation_items = '' | split: '' -%}
{%- include navigation_find_path.html menu=site.data.__generated.navigation -%}
<div class="nav-bar">
  {%- assign nitems = navigation_items.size | minus: 1 -%}
  {%- for i in (0..nitems) reversed -%}
    {%- assign item = navigation_items[i] -%}
    <div class="nav-dropdown">
      <button class="nav-button">
        <a href={{site.baseurl}}{{item.link}}>
          {{item.name}}
        </a>
      </button><div class="nav-dropdown-content">
        {%- for subitem in item.submenu -%}
          <a href={{site.baseurl}}{{subitem.link}}>
            {{subitem.name}}
          </a>
        {%- endfor -%}
      </div>
      {%- if i > 0 -%}
        <i class="fa {{navigation_separator}}"></i>
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>


