<!-- Make sure to start on a new line -->
<div style="clear: both"></div>

{%- assign page_path = page.path | remove: ".md" | append: "/" -%}
{%- assign pages = site.pages | sort: "order" -%}
{%- for _page in pages -%}
{%- assign sub_path = _page.path | remove: page_path | remove: ".md" -%}
{%- if _page.path contains page_path -%}
{%- if sub_path contains "/" -%}
{%- continue -%}
{%- endif -%}
{% assign desc = _page.content | strip_html | newline_to_br | strip_newlines | split: "<br /><br />" %}

<h3>{{_page.short-title | default: _page.title}}</h3>

<div>
    {%- if _page.image -%}
    <img src="{{baseurl}}{{_page.image}}"
         alt="{{_page.title}}"
         width="20%"
         align="left"
         style="margin-top: .5em;margin-right: 1em"/>
    {%- endif -%}

    <p>
        {{desc[0] | replace: "<br />", " "}}
        <br />
        <a href="{{_page.url}}">Read more</a>
    </p>
</div>
<div style="clear: both"></div>

{%- endif -%}
{%- endfor -%}
