<style>
    .page-content .wrapper {
        max-width: 100vw;
        width: fit-content;
    }

    .post-header {
        margin-bottom: unset;
        width: fit-content;
    }

    .collapsible:before {
        font-family: FontAwesome;
        content: "\f0da";
        padding-right: 5px;
    }

    .collapsible-content {
        padding: 0 18px;
        max-height: 0;
        max-width: 40em;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
        margin-bottom: 30px;
    }

    .active:before {
        font-family: FontAwesome;
        content: "\f0d7";
    }

    #interface-wrapper {
        background-color: var(--minima-background-color);
    }

    #interface {
        display: flex;
        width: fit-content;
        margin: auto;
    }

    canvas {
        width: min(100vw, 100vh);
        height: min(100vw, 100vh);
        display: block;
    }

    table {
        margin: auto;
        max-width: 10em;
        height: fit-content;
        position: relative;
    }

    table tr:nth-child(2n) {
        background-color: inherit;
    }

    table td {
        border: none;
        text-align: left;
    }

    tr {
        position: relative;
    }

    tr td:first-child {
        text-align: right;
    }

    tr td:nth-last-child(2) {
        padding-right: 0;
    }

    table td[colspan="2"], td[colspan="3"] {
        text-align: center !important;
    }

    tr.separator {
        border-bottom: 1px solid var(--minima-table-border-color);
    }

    input[type="number"] {
        max-width: 4em;
    }

    input[type="file"] {
        font-size: x-small;
        max-width: 20em;
    }

    @keyframes input-error {
        0%   {background-color: red;}
        50%   {background-color: red;}
        100% {background-color: var(--minima-background-color);}
    }

    #b_fullscreen {
        position: absolute;
        top: 0;
        right: 0;
    }

    #b_collapse {
        height: fit-content;
        align-self: center;
        margin-left: -.5em;
        transform: translateX(50%);
        z-index: 1;
    }

    #load_file_row {
        display: none;
    }

    .help:before {
        font-family: FontAwesome;
        content: '\f059';
    }

    .help {
        /*padding-left: 0;*/
    }

    .help .tooltip-content {
        position: absolute;
        visibility: hidden;
        bottom: 100%;
        right: 0;
        padding: .5em;
        margin: 0;
        /*background-color: ;*/
    }

    .help:hover .tooltip-content {
        visibility: visible;
    }

    .context-menu {
        display: none;
        position: absolute;
        z-index: 10;
        border: 1px solid var(--minima-table-border-color);
        background-color: var(--minima-code-background-color);
        padding: .5em;
        margin: 1em;
    }

    .context-menu ul {
        margin: 0;
        list-style: none;
    }

    .context-menu ul li a {
        text-decoration: none;
    }

    .context-menu ul li {
        padding-left: .5em;
        padding-right: .5em;
    }

    .context-menu ul li:hover {
        background-color: var(--minima-brand-color);
    }

</style>

<div>
<button class="collapsible">Details</button>
<div class="collapsible-content">
    <p><em>"There must have existed, at some time, and at some place or other,
        an artificer or artificers, who formed [the watch] for the purpose which
        we find it actually to answer; who comprehended its construction, and
        designed its use."</em><br/>
        — William Paley, Natural Theology (1802)</p>
    <p><em>"Natural selection, the blind, unconscious, automatic process which
        Darwin discovered, and which we now know is the explanation for the
        existence and apparently purposeful form of all life, has no purpose in
        mind. It has no mind and no mind's eye. It does not plan for the future.
        It has no vision, no foresight, no sight at all. If it can be said to
        play the role of watchmaker in nature, it is the blind watchmaker."</em><br/>
        — Richard Dawkins, The Blind Watchmaker (1986)</p>
    <p>A blind watchmaker program is an interactive evolution process through which
        one can grasp the essential component of (natural) selection:
        <em>Cumulative mutations</em>.
        By blindly selecting, based on <em>your</em> current preferences, which
        individuals reproduce you generate evolutionary trajectories that may end
        with very complex individuals.
        And this does not require you to understand how they work, only to judge
        if they are "fit".
    </p>
    <ul>
        <li>RGB range?</li>
        <li>Offline compatible</li>
        <li>More presets?</li>
        <li>Mobile/small screen tests</li>
        <ul>
            <li>Controls menu (instead of table)</li>
            <li>No crossover</li>
        </ul>
    </ul>
</div>
</div>

<div id="interface-wrapper">
<div class="context-menu" id="context-menu">
    <ul>
        <li id="save"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</li>
    </ul>
</div>
<div id="interface">
<canvas id="canvas">
    Some text
</canvas>
<button id="b_collapse" title="Collapse">
    <i class="fa fa-angle-double-right" aria-hidden="true" id="b_collapse_icon"></i>
</button>
<table>
    <tbody id="controls">
        <tr>
            <td colspan="3">
                <span id="l_generation">Generation 0</span>
                <button id="b_fullscreen" title="Fullscreen">
                    <i class="fa fa-expand" aria-hidden="true" id="b_fullscreen_icon"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label for="s_preset">Presets</label>
                <select id="s_preset">
                </select>
            </td>
            <td class="help">
                <span class="tooltip-content">
                    Presets for different type of evolutionary dynamics
                </span>
            </td>
        </tr>
        <tr class="separator"></tr>
        <tr>
            <td colspan="2"><input type="button" id="b_restart" value="Restart"/></td>
            <td class="help">
                <span class="tooltip-content">
                    Restart from generation 0 with random splinoids
                </span>
            </td>
        </tr>
        <tr>
            <td><label for="f_complexity">Complexity</label></td>
            <td><input type="number" id="f_complexity"></td>
            <td class="help">
                <span class="tooltip-content">
                    Initial range for the genome values.
                    Small values mean less initial complexity.
                </span>
            </td>
        </tr>
        <tr>
            <td><label for="n_splines">Splines</label></td>
            <td><input type="number" id="n_splines"></td>
            <td class="help">
                <span class="tooltip-content">Number of splines per side</span>
            </td>
        </tr>
        <tr>
            <td><label for="n_buttons">Grid size</label></td>
            <td><input type="number" id="n_buttons"></td>
            <td class="help">
                <span class="tooltip-content">Number of individuals per dimension</span>
            </td>
        </tr>
        <tr class="separator"></tr>
        <tr>
            <td><label for="n_parents">Parents</label></td>
            <td><input type="number" id="n_parents"></td>
            <td class="help">
                <span class="tooltip-content">
                    Number of individuals used in generating the next population
                </span>
            </td>
        </tr>
        <tr>
            <td><label for="n_mutations_count">Mutations</label></td>
            <td><input type="number" id="n_mutations_count"></td>
            <td class="help">
                <span class="tooltip-content">
                    Number of elementary mutations between generations
                </span>
            </td>
        </tr>
        <tr>
            <td><label for="f_mutations_amplitude">Amplitude</label></td>
            <td><input type="number" id="f_mutations_amplitude"></td>
            <td class="help">
                <span class="tooltip-content">
                    Amplitude (standard deviation around zero) of each elementary mutation
                </span>
            </td>
        </tr>
        <tr class="separator"></tr>
        <tr>
            <td><input type="button" id="b_save" value="Save"></td>
            <td><input type="button" id="b_load" value="Load"></td>
        </tr>
        <tr id="load_file_row">
            <td colspan="3"><input type="file" id="i_file"></td>
        </tr>
    </tbody>
</table>

<script>
    let coll = document.getElementsByClassName("collapsible");
    let i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            let content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
    <script type="module" src="/js/watchmaker/main.js">
</script>
</div>
</div>
