---
---
/* Override theme defaults */
//$content-width: 1080px; // Works but is ugly

@import
  "minima/skins/{{ site.minima.skin | default: 'auto' }}",
  "minima/initialize";

// Monospace font
header {
  font-family: $code-font-family;
  font-size: $small-font-size;
}

.wrapper {
  position: relative;
}

.site-description {
  white-space: nowrap;
  float: right;
  line-height: 1;
}

.site-title-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-title-spacer {
  flex-grow: 1;
}


// -------------

// Always justify (why is this not default?)
p {
  text-align: justify;
  hyphens: auto;
}

.error {
  background-color: red;
}

// -------------
// Citation style

.citation-span {
  color: var(--minima-link-base-color);
}

.citation-numeric {
  font-size: 80%;
  vertical-align: super !important;
  transform: translateY(1.5em);
}

.citation-tooltip {
  display: none;
  //display: inline-block;

  position: absolute;
  width: 40em;
  z-index: 1;
  font-size: 90%;
  right: 0;
  overflow: clip;
  //background-color: green;
}

.citation-tooltip-content {
  display: inline-block;
  margin: 1em;
  padding: 0;
  border-radius: 10px 0 10px 0;
  border-style: ridge;
  border-color: var(--minima-brand-color);
  background-color: var(--minima-code-background-color);
  //background-color: blue;
}

.citation-tooltip-content table {
  padding: 0.5em;
  border: none;
  margin-bottom: 0;
}

.citation-tooltip-content table tr {
  margin-bottom: .25em;
}

.citation-tooltip-content table td {
  border-style : hidden!important;
  padding: .5em 1em .5em .5em;
  vertical-align: top;
  @extend p
}

// --------------

// Prettier checklists
li.task-list-item {
  list-style-type: none;
}

input.task-list-item-checkbox {
  margin-right: 1em;
}
// --------------------

// Correct output for ieee cls (number on left margin *once*)
{% if site.scholar.type == "numeric" %}

ol.bibliography li + li { /* 10px between each two adjacent li's */
  margin-top: 10px;
}
//
//ol.bibliography {
//  counter-reset: list-item;
//}
//
//ol.bibliography>li::marker {
//  content: "[" counter(list-item) "] ";
//}

{% endif %}

.biblio-widget {
  white-space: nowrap;
}

// ---------------------------------------------------------

// Mobile defaults

.subfolder-image {
  width: 40%;
  float: left;
  margin-top: .5em;
  margin-right: 1em;
}

.research-item-image {
  @extend .subfolder-image;
}

// Large screen
@media screen and (min-width: $on-medium) {
  .subfolder-image {
    width: 20%;
  }
}

@import "navigation";
@import "gallery";
