---
---
/* Override theme defaults */
//$content-width: 1080px; // Works but is ugly

@import
  "minima/skins/{{ site.minima.skin | default: 'auto' }}",
  "minima/initialize";

// Monospace font
header {
  font-family: $code-font-family;
  font-size: $small-font-size;
}

.site-description {
  white-space: nowrap;
  float: right;
  line-height: 1;
}

.site-title-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-title-spacer {
  flex-grow: 1;
}


// -------------

// Always justify (why is this not default?)
p {
  text-align: justify;
  hyphens: auto;
}

.error {
  background-color: red;
}

.citation-span {
  font-size: 80%;
  vertical-align: top !important;
  position: relative;
  top: -0.5em;
}

// --------------

// Prettier checklists
li.task-list-item {
  list-style-type: none;
}

input.task-list-item-checkbox {
  margin-right: 1em;
}
// --------------------

// Correct output for ieee cls (number on left margin *once*)
{% if site.scholar.type == "numeric" %}

ol.bibliography li + li { /* 10px between each two adjacent li's */
  margin-top: 10px;
}

ol.bibliography {
  counter-reset: list-item;
}

ol.bibliography>li::marker {
  content: "[" counter(list-item) "] ";
}

{% endif %}

.biblio-widget {
  white-space: nowrap;
}

// ---------------------------------------------------------

// Mobile defaults

.subfolder-image {
  width: 40%;
  float: left;
  margin-top: .5em;
  margin-right: 1em;
}

.research-item-image {
  @extend .subfolder-image;
}

// Large screen
@media screen and (min-width: $on-medium) {
  .subfolder-image {
    width: 20%;
  }
}

@import "navigation";
